footer#colophon {
  a .fa {
    color: unset;
  }
  .footer {
    .thim-footer-location {
      .image {
        margin-bottom: 35px;
      }
    }
  }
  .social_link {
    .hasTooltip {
      &:hover {
        color: rgb(138, 138, 138) !important;
      }
    }
  }
  #menu-main-menu-1 {
    flex-direction: column;
    .menu-item {
      &.active {
        a {
          color: $hotel-cta;
        }
      }
      a {
        &::before {
          display: none;
        }
      }
    }
    @media (max-width: 1024px) {
      padding-top: 0;
    }
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }
  #thim-ekits-menu-main-menu {
    @media (max-width: 1024px) {
      position: static;
      transform: none;
      background: initial;
      width: initial;
      height: initial;
      overflow: auto;
      .menu-item {
        a {
          padding: 0px 15px 0px 0;
        }
      }
      .thim-ekits-menu__mobile__close {
        display: none;
      }
    }
  }
  #column-menu {
    .elementor-widget-wrap {
      // padding-top: 30px;
      padding-top: 44px;
      @media (max-width: 767px) {
        padding-top: 20px;
      }
    }
    @media (max-width: 1024px) {
      .thim-ekits-menu__mobile {
        display: none;
      }
    }
  }

  .footer-copyright-last {
    div {
      @media (max-width: 767px) {
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }
}
// elementor-widget-wrap
// padding-top: 30px;
