#nosotros-inicial {
  .inicial-title {
    margin-bottom: 0;
    .wrapper-line-heading {
      padding-bottom: 0;
    }
  }
  .inicial-list {
    padding-top: 0;
    > div {
      padding-top: 0;
    }
  }
}

#nosotros-datos {
  .counter-box-content {
    @media (min-width: 768px) {
      font-size: 23px;
    }
  }
}

.only-title {
  margin-bottom: 0;
  .wrapper-line-heading {
    padding-bottom: 0;
  }
  .article_heading {
    @media (min-width: 768px) {
      padding-bottom: 33px;
    }
  }
}
